@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: v.$white;
    border-radius: 8px;
    box-shadow: v.$shadow-md;

    @include m.tablet {
        align-self: flex-start;
    }

    .item {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;

            @include m.mobile {
                gap: 20px;
            }

            @include m.tablet {
                gap: 10px;
                padding: 20px;
            }

            @include m.desktop {
                gap: 30px;
                padding: 25px;
            }

            @include m.desktopXL {
                gap: 40px;
                padding: 30px;
            }

            &.active .open-icon svg {
                transform: rotate(90deg);
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: stretch;

                svg {
                    min-width: 36px;
                    min-height: 36px;
                    color: v.$slate-600;

                    @include m.tablet {
                        min-width: 40px;
                        min-height: 40px;
                    }

                    @include m.desktop {
                        min-width: 50px;
                        min-height: 50px;
                    }
                }
            }

            .row {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: hidden;
                padding: 0 10px;

                @include m.mobile {
                    flex-direction: row;
                    gap: 20px;
                    padding: 0;
                }

                @include m.tablet {
                    gap: 30px;
                }

                @include m.desktop {
                    gap: 40px;
                }
            }

            .name {
                display: flex;
                overflow: hidden;
                font-weight: 300;

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .price {
                font-size: 1.4rem;
                font-weight: 600;

                @include m.mobile {
                    font-size: 1.6rem;
                }
            }

            .actions {
                display: flex;
                align-items: center;

                @include m.mobile {
                    gap: 4px;
                }

                @include m.tablet {
                    gap: 8px;
                }

                @include m.desktop {
                    gap: 12px;
                }
            }

            .open-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 40px;
                min-height: 40px;

                svg {
                    width: 18px;
                    height: 18px;
                    transition: transform 0.3s ease;
                }
            }
        }

        .body {
            display: flex;
            flex-direction: column;
        }

        .options {
            padding: 10px 15px 15px 15px;
            border-top: 1px solid v.$slate-100;
            border-bottom: 1px solid v.$slate-100;

            @include m.tablet {
                padding: 15px 20px 20px 20px;
            }

            @include m.desktop {
                padding: 20px 25px 25px 25px;
            }

            dl {
                @include m.grid(2, 4px, 15px);
                font-size: 1.4rem;

                @include m.mobile {
                    row-gap: 6px;
                }

                @include m.tablet {
                    row-gap: 8px;
                    column-gap: 20px;
                    font-size: 1.6rem;
                }

                @include m.desktop {
                    row-gap: 10px;
                    column-gap: 25px;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    @include m.tablet {
                        gap: 2px;
                    }

                    @include m.desktop {
                        flex-direction: row;
                    }

                    dt {
                        flex: 1 1 40%;
                        font-weight: 300;
                    }

                    dd {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1 1 60%;
                        padding: 4px;
                        background-color: v.$slate-100;
                        border-radius: 4px;
                        font-weight: 300;

                        @include m.tablet {
                            padding: 6px;
                        }
                    }
                }
            }
        }

        .files {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;
            font-size: 1.4rem;

            @include m.tablet {
                gap: 15px;
                padding: 20px;
                font-size: 1.6rem;
            }

            @include m.desktop {
                gap: 20px;
                padding: 25px;
            }

            .file {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                padding-bottom: 10px;
                color: var(--color600);
                border-bottom: 1px solid v.$slate-200;

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                @include m.tablet {
                    gap: 20px;
                    padding-bottom: 15px;
                }

                @include m.desktop {
                    gap: 25px;
                    padding-bottom: 20px;
                }

                .image {
                    display: flex;
                    width: 49px;
                    height: 70px;
                    flex: 0 0 auto;

                    @include m.tablet {
                        width: 57px;
                        height: 80px;
                    }

                    img {
                        object-fit: cover;

                        filter: grayscale(100%);

                        &.color {
                            filter: initial;
                        }
                    }
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    align-self: stretch;
                    flex-grow: 1;
                    min-width: 0;

                    .name {
                        display: flex;

                        span {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }

                    .info {
                        display: flex;
                        gap: 10px;
                        font-weight: 300;

                        @include m.tablet {
                            gap: 15px;
                        }

                        @include m.desktop {
                            gap: 30px;
                        }

                        .type {
                            display: none;

                            @include m.mobile {
                                display: block;
                            }
                        }

                        span {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }

                .sheets {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-self: stretch;

                    @include m.tablet {
                        padding: 0 10px;
                    }

                    .title {
                        font-weight: 500;
                    }

                    .unit {
                        font-weight: 300;
                    }

                    .total {
                        font-weight: 600;
                    }
                }

                .price {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-self: stretch;

                    @include m.tablet {
                        padding: 0 10px;
                    }

                    .title {
                        font-weight: 500;
                    }

                    .unit {
                        font-weight: 300;
                    }

                    .total {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.modal .items {
    box-shadow: none;
}