@use "../abstract/variables"as v;
@use "../abstract/mixins"as m;

.radio {
    &:hover {
        background-color: v.$slate-100;
    }

    &.active {
        background-color: v.$slate-100;
    }

    input[type="radio"] {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;

        &::before {
            display: flex;
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 2px v.$blue-900;
        }

        &:checked {
            &::before {
                box-shadow: inset 0 0 0 7px v.$blue-900;
            }
        }
    }
}